#teal-background {
    background-color: #4aaaa5; color: #ffffff; width: 300px;
}

#teal-tittle {
    color: #4aaaa5;
}

nav, p, form, ul {
    color: #777777; font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #ffffff; border-color: #cccccc;
}

div {
    background-color: #ffffff; border-color: #ffffff; width: 400px; border: 30px; padding: 50px; margin: 20px
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

img {
    width: 200px; 
}

nav {
    float: right; bottom: 200px
}
p {
    float: right
}