#teal-background {
    background-color: #4aaaa5; color: #ffffff; width: 300px; margin-left: 90px; margin-top: auto;
}

#teal-tittle {
    color: #4aaaa5;
}

nav, p, form, ul {
    color: #777777; font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #ffffff; border-color: #cccccc;
}

div {
    background-color: #ffffff; border-color: #dddddd; width: 1046px; border: 30px; padding: 50px; margin: 100px
}



h1 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

img {
    width: 200px; 
}

nav {
    float: right; bottom: 200px
}
.box1 {
    height: 100px; box-sizing: border-box;
}
body {
    background-color: #777777
}
nav {
    margin-right: 200px;
}